h1{
    color: rgb(255, 8, 247);
    background-color: #ffffff;
    text-align: center;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;

}
h2{
    background-color: black;
    color: white
}
#kap4{
    color: lime
}

body{
    background-image: url("./bilder/sigma.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
}