body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.75fr 1fr 1fr;
    background-image: url(./img/Bakgrundbild.webp);
    margin: auto;
}
.Rubrik{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    grid-column: 1/3;
    align-items: center;
}
.Rubrik h1{
    background-color: white;
    width: 40%;
    border-radius: 20px;
    height: 70px;
}
.länkar-bakgrund{
    display: flex;
    flex-direction: column;  
    font-size: 25px;
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: white;
    border-radius: 20px;
    padding-right: 10px;
    width: 70%;
    margin-left: 20%;
}
.länkar-bakgrund li{
    width: 100%;
    border-radius: 20px;
    margin-left: 5%;

}

#bild{
    height: 420px;
    width: 400px;
    margin-top: 15px;
    border-radius: 10px;
}

.bild-bakgrund{
    display: flex;
    justify-content: center;
    
    background-color: white;
    border-radius: 20px;
    height: 450px;
    width: 425px;
}

.bild{
    padding-left: 30px;
    padding-bottom: 10px;
    grid-column: 2/3;
    grid-row: 2/4;
}

.ingredienser-bakgrund{
    display: flex;
    justify-content: left;
    grid-column: 2/1;
    grid-row: 3/4;
    align-items: center;
    background-color: white;
    width: 70%;
    margin-left: 20%;
    border-radius: 20px;
    height: 90%;
}

.ingredienser{
    font-size: 20px;
    margin-left: 5%;
}

.instruktioner{
    grid-column: 1/3;
    grid-row: 4/5;
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
    border-radius: 20px;
    font-size: 22.5px;
}

.instruktioner h2{
    margin-bottom: 0;
    margin-left: 2%;
}